.custom_alert_outer {
    width: 100%;
    /* height: 100%; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    margin-top: 1rem;
}
.custom_alert_success {
    background: linear-gradient(90deg, rgba(8.18, 129.20, 58.61, 0) 0%, #08813B 57%, rgba(8.18, 129.20, 58.61, 0) 100%);
}
.custom_alert_error {
    background: linear-gradient(90deg, rgba(8.18, 129.20, 58.61, 0) 0%, #FF4756 57%, rgba(8.18, 129.20, 58.61, 0) 100%);
}
.alert_icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}
.alert_message {
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 12px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    word-wrap: break-word;
}
.alert_description {
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    word-wrap: break-word;
    margin-top: 0.5rem;
}
.alert_description_success {
    color: #08813B;
}
.alert_description_error {
    color: #FF4756;
}