.meter_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.meter_svg {
  width: 160px;
  /* height: 160px; */
}

.meter_heading {
  font-size: 14px;
  color: var(--meter-heading-color);
  margin-top: 5px;
  margin-bottom: -25px;
  height: 40px;
  display: flex;
  align-items: center;
}

.meter_value {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 600;
  margin-top: -30px;
}