:root {
  --bg-color: #1A2537;
  --text-color: #ffffff;
  --card-bg: #1e1e1e;
  --logo-color: #A537FF;
  --main-bg-color: #1F2A3D;
  --filter-bg-color: #1F2A3D;
  --filter-border-color: #00000040;
  --inactive-color: #000;
  --drag-over-color: #A6A6A6;
  --link-color: #483EA8;
  --outer-shadow: #15181cb3;
  --back-btn-bg: #313b4b;
  --table-header-bg: #A537FF;
  --inner-box-border: #1A2537;
  --action-bg: #A537FF33;
  --action-pending-bg: linear-gradient(0deg, rgba(8, 129, 59, 0.2) 0%, rgba(8, 129, 59, 0.2) 100%);
  --action-verified-bg: linear-gradient(0deg, rgba(0, 148.75, 255, 0.20) 0%, rgba(0, 148.75, 255, 0.20) 100%);
  --action-expired-bg: linear-gradient(0deg, rgba(141.97, 116.46, 4.10, 0.20) 0%, rgba(141.97, 116.46, 4.10, 0.20) 100%);
  --action-disabled-bg: #00000033;
  --active-bg: #A537FF80;
  --inactive-bg: #000;
  --active-border: #A537FF80;
  --inactive-border: #000;
  --collapse-icon-bg: #A6A6A6;
  --table-border-color: #404040;
  --tab-color: #A6A6A6;
  --simulation-active-chip-bg: #08813B80;
  --light-bg: #B051FF1A;
  --cancel-btn-bg: #FF475633;
  --overview-text-color: #B4B4B4;
  --overlay-bg: #1A2537;
  --assets-icon-bg: #FFFFFF1A;
  --meter-heading-color: "#E2E2E2";
  --inner-bg-dark: #00000033;
  --inner-bg-light: #1B222E5C;
  --quick-bg: #1F2A3D;
  --card-icon-color: #FFFFFF;
  --report-bg: #08813B40;
  --desc-color: #ffffff8c;
  --available_container: linear-gradient(180deg, #36C76C73 8%, #36C76C14 100%);
  --used_container: linear-gradient(180deg, #6031FE73 8%, #6031FE14 100%);
  --expired_container: linear-gradient(180deg, #FF475673 8%, #FF475614 100%);
  --card-icon-bg: linear-gradient(0deg, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0.20) 100%);
  --top-wallet-bg: #00000033;
  --top-profile-bg: #fff;
  --menu-svg-color: #A6A6A6;
  --toggle-sun-color: #A537FF;
  --bar-text-color: #B1E3FF;
}
