:root {
  --bg-color: #ffffff;
  --text-color: #404040;
  --card-bg: #f5f5f5;
  --logo-color: #A537FF;
  --main-bg-color: #F1F1F1;
  --filter-bg-color: #fff;
  --filter-border-color: #A537FF;
  --inactive-color: #000;
  --drag-over-color: #000;
  --link-color: #483EA8;
  --outer-shadow: #A6A6A6;
  --back-btn-bg: #ffffff;
  --table-header-bg: #B051FF;
  --inner-box-border: #E3E3E3;
  --action-bg: #A537FF;
  --action-pending-bg: #0A9945BF;
  --action-verified-bg: #1A9FFFBF;
  --action-expired-bg: #E5BD08BF;
  --action-disabled-bg: #000000;
  --active-bg: #A537FF80;
  --inactive-bg: #fff;
  --active-border: #A537FF80;
  --inactive-border: #000;
  --collapse-icon-bg: #404040;
  --table-border-color: #B051FF;
  --tab-color: #404040;
  --simulation-active-chip-bg: #08813B;
  --light-bg: #B051FF1A;
  --cancel-btn-bg: #FF4756;
  --overview-text-color: #000;
  --overlay-bg: #ffffff70;
  --assets-icon-bg: #B051FF1A;
  --meter-heading-color: #404040;
  --inner-bg-dark: #f1f1f1;
  --inner-bg-light: #f1f1f1a8;
  --quick-bg: #A537FF33;
  --card-icon-color: #A537FF;
  --report-bg: #08813B;
  --desc-color: #0000008c;
  --available_container: #36C76C73;
  --used_container: #6031FE73;
  --expired_container: #FF475673;
  --card-icon-bg: linear-gradient(0deg, rgba(165, 55, 255, 0.20) 0%, rgba(165, 55, 255, 0.20) 100%);
  --top-wallet-bg: #B051FF33;
  --top-profile-bg: #E9F2FF;
  --menu-svg-color: #404040;
  --toggle-sun-color: #000000;
  --bar-text-color: #0095FF;
}
