.login_btn {
    /* float: right; */
    background-color: #A537FF;
    margin-top: 2rem;
}
.login_input {
    background: none !important;
}
.login_input :global(.MuiInputBase-root) {
    background-color: #1A253766 !important;
    border: 1px solid #404040 !important;
    border-radius: 20px !important;
    color: var(--text-color) !important;
}
.login_input fieldset {
    border: none !important;
    color: var(--text-color) !important;
}
.login_input input {
    color: var(--text-color) !important;
}
.login_input input:focus {
    border-radius: 20px !important;
}
.forgot_description {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-size: 12px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    word-wrap: break-word;
    margin-bottom: 1rem;
}