@import "tailwindcss";

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1140px; /* Adjust as needed for your design */
}
.assets_progress_bar {
  display: flex;
  width: 70%;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@media (min-width: 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 768px) {
  .assets_progress_bar {
    display: none;
    /* width: 100%; */
  }
}